.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  height: 600px;
  width: 200px;
  margin-left: 100px;
}
.box {
  box-sizing: border-box;
  align-content: end;
  height: 180px;
  width: 180px;
}
.red {
  background-color: red;
  border: solid darkred 10px;
}
.yellow {
  display: flex;
  background-color: yellow;
  border: solid darkkhaki 10px;
}
.green {
  background-color: green;
  border: solid darkgreen 10px;
}
.lightred {
  background-color: lightcoral;
  height: 50%;
}
.lightyellow {
  background-color: lightgoldenrodyellow;
  height: 50%;
  width: 50%;
}
.lightgreen {
  background-color: lightgreen;
  height: 50%;
  width: 50%;
}
